@import 'sass';

.Background {
	// background-image: url(../../../images/home-background-1.jpg);
	background-color: rgb(255, 255, 255);
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: top;
	width: 100%;
	height: 40vh;

	.Overlay {
		// position: relative;
		width: 100%;
		height: 100%;
		// background: rgba($color: #000000, $alpha: 0.2);
	}

	.Content {
		display: flex;
		background-color: antiquewhite;
		height: 100%;
		padding: 50px;
		@include flex-center;
		text-align: center;
		p {
			letter-spacing: 1pt;
			font-size: large;
		}
	}
}
